@charset "utf-8";
/* CSS Document */

*{
	font-family: 'Poppins', sans-serif;
}
.header
{
	background: #EEE;
	height: 60px;
	position: fixed;
	width: 100%;
	z-index:9999;

}

.anchor {
    display: block;
    height: 60px; /*same height as header*/
    margin-top: -60px; /*same height as header*/
    visibility: hidden;
}

.text-about {
    font-weight: 300;
    line-height: 30px;
    position: relative;
}

.vertical-align {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.reveal {
    margin-top: 20px;
}
.logo
{
	color: #fa3447;
	font-weight: 100;
	font-size: 30px;
	padding: 10px 0px 0px 0px !important;
	line-height: 60px;

}
.logo:hover, logo:active
{
	color: #fff;
}
.menu{
	margin:0px !important;
	border: none;
}
.menu li a
{
	color: #0b057f;
	font-weight:500;
	font-family: 'Poppins', sans-serif;
	line-height: 29px;
	background-color: #EEE;
	z-index:999;
	
}
.menu li a:hover
{
	background-color: #f5f5f5;
}
.menu-button
{
	color: #fff;
	font-size: 30px;
	margin:0px !important;
	padding:14px;
}
a {
    color: #0b057f;
}
.backg
{	
	/*background-attachment:fixed;*/
		background-color: #FFF;
		background-image:  url("../images/RNAmining.png");
		background-position: top center;
		background-repeat: no-repeat;
		//background-size: auto;
		background-size: cover;
		color: white;
		cursor: default;
		padding: 180px 0 120px;
		text-align: center;
		width: 100%;
		float: left;
		padding-bottom:14%;

}
@-moz-keyframes reveal-banner { 0% { opacity: 0; } 100% { opacity: 1; } }
@-webkit-keyframes reveal-banner { 0% { opacity: 0; } 100% { opacity: 1; } }
@-o-keyframes reveal-banner { 0% { opacity: 0; } 100% { opacity: 1; } }
@-ms-keyframes reveal-banner { 0% { opacity: 0; } 100% { opacity: 1; } }
@keyframes reveal-banner { 0% { opacity: 0; } 100% { opacity: 1; } }

.inner
{
	-moz-animation: reveal-banner 1s 0.25s ease-in-out;
	-webkit-animation: reveal-banner 1s 0.25s ease-in-out;
	-o-animation: reveal-banner 1s 0.25s ease-in-out;
	-ms-animation: reveal-banner 1s 0.25s ease-in-out;
	animation: reveal-banner 1s 0.25s ease-in-out;
	-moz-animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	background: rgba(255, 255, 255, 0.5);
	color: black;
	display: inline-block;
	opacity: 0;
	padding: 20px 40px;
	text-align: center;
	/*top: 75px;*/
	
}

.text-box
{
	font-family: 'Poppins', sans-serif;
}
.text-box p.intro
{
	font-size: 30px;
	font-weight: 300;
	line-height: 1;
	font-family: 'Poppins', sans-serif;
}
.text-box h2
{
	font-size: 55px;
	font-weight: 700;
	color: #000;
	border-bottom: 7px double #B0B0B0;
	border-top: 7px double #B0B0B0;
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
}
.text-box h3
{
	font-size: 20px;
	font-weight: 500;
	line-height: 1;
}
.text-box p
{
	font-size: 10px
	font-weight: 400;
}
.text-box p span
{
	font-size: 15px;
	font-weight: 400;
	color: #83D3C9;
}
.text-box p span a
{
	text-decoration: none;
	color: #0b057f;
	font-size: 15px;
}

.text-box p a.link-button
{
	text-decoration: none;
	color: #fff;
	border: 1px solid transparent;
	padding: 15px 22px;
	margin-top: 20px;
	line-height: 4;
	font-size: 18px;
	font-weight: 400;
	background: #0b057f;
	transition: all 0.2s ease-in-out;
	font-family: 'Poppins', sans-serif;
	border-radius: 4px;
}

.text-box p a.link-button:hover
{
	background: #e6e6e6;
	color: #333;
	border-color: #adadad;
}

.title h2
{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 42px;
	text-align: center;
	color: #0b057f;
}
.desc p
{
	width: 75%;
	margin: 0 auto;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	color: #2E2E2E;
	font-size: 16px;
	text-align: center;
	line-height: 25px;
	
}

.tips p
{
	width: 75%;
	margin: 0 auto;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	color: #2E2E2E;
	font-size: 16px;
	text-align: left;
	line-height: 25px;
	
}

.tips ul
{
	width: 75%;
	margin: 0 auto;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	color: #2E2E2E;
	font-size: 16px;
	text-align: left;
	line-height: 25px;
	
}

.desc p a
{
	text-decoration: none;
	color: #0b057f;
}

.specialchar {
    color:#170fbc;
    font-weight: bold;
}

.features
{
	background: #e16e7c;
	padding: 60px 0px;
}
.features-text
{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	letter-spacing: 5px;
	margin-bottom:30px;
	margin-top:30px;
}
h2.features-text::after {
    display: block;
    margin: 17px auto 0px;
    width: 80px;
    height: 1px;
    background: #FFF none repeat scroll 0% 0%;
    content: "";
}

.iconing
{
	text-align: center;
	width:80px;
	margin:0 auto;
	
}
.iconing i
{
	font-size: 35px;
	text-align: center;
	color: #fff;
	border: 1px solid #fff;
	display: block;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.1);
	width: 80px;
	height: 80px;
	line-height: 80px;
}
.icon-box
{
	margin:30px 0px;
}
.icon-text-box
{

}
.icon-text-box h4
{

	font-family: 'Roboto', sans-serif;
	color: #2e2e2e;
	font-weight: 400;
	font-size: 25px;

}
.icon-text-box p
{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #2E2E2E;
}
.notes
{
		background-attachment:fixed;
		background-color: #645862;
		background-image:  url("../images/notes-bg.jpg");
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
		color: white;
		cursor: default;
		text-align: center;
		width: 100%;
		float: left;
}
.notes-bg
{
	background: rgba(33, 42, 63, 0.9);
	padding: 80px 0px;
}
.notes-bg p
{
	font-size: 17px;
	margin:0px !important;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	line-height: 30px;
}
.btneff
{
	background-color: #0b057f;
border: none;
color: #fff;
padding: 13px 0px;
width: 100% !important;
font-size: 17px;
}
.work-list{
	padding: 60px 0px;
}
.portfolio-text
{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	letter-spacing: 5px;
	margin-bottom:30px;
	margin-top:30px;
}
h2.portfolio-text::after {
    display: block;
    margin: 17px auto 0px;
    width: 80px;
    height: 1px;
    background: #0b057f none repeat scroll 0% 0%;
    content: "";
}
.work-list a .featured-img
{
	width: 100%;
}
.work-list a .featured-img img
{
	width: 100%;
	height: 200px;
	float: left;
	position: relative;	}
	
@keyframes imagehover {
    0%   {height: 40px;}
    25%  {height: 80px;}
    50%  {height: 120px;}
    75%  {height: 160px;}
    100% {height: 200px;}
}
.image-hover {
    display: none;
    position: absolute;
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.5);
    text-align: center;
    width: 100%;
	height: 200px;
    float: left;
		
}
.image-hover i{
	color: rgba(138, 184, 57, 0);
	font-size:30px;
	line-height: 200px;
	transition: 5s color ease-in;
	display: none;
}
.image-hover:hover i
{	display: block;
	color: #EEE;
}
.work-list a h3 {
    text-align: center;
    padding: 15px 0px;
    font-size: 15px;
    float: left;
    width: 100%;
    font-weight: 600;
	background: #0b057f;
	color:#fff;
	margin:0px;
	font-family: 'Roboto', sans-serif;
}
.work-list a:hover .image-hover
{
	display: block;
	animation: 0.4s ease-in 0s normal none 1 running imagehover;

}
.work-space
{
	margin: 20px 0px;
}

.active
{
	color:#fff !important;
}
.nav li a:focus
{
	background: #EEE;
	color: #fff;
}
.nav li a:active
{
	color: #fff;
}
.countbg
{
	background: rgba(33, 42, 63, 1);
	padding: 80px 0px;
	width: 100%;
	float: left;
}
.countspace
{
		color: white;
		text-align: center;
		width: 100%;
		float: left;
		background: rgba(33, 42, 63, 1);
}
.counter-item
{
	margin-top: 30px;
}
.counter-item i
{
	font-size: 40px;
	color: #0b057f;
}
.timer
{
	margin-top: 5px;
	font-weight: 700;
	font-size: 50px;
	color: #0b057f;
}
.counter-item h5
{
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: 'Roboto', sans-serif;
}
.contact
{
	padding: 30px 0px;
	float: left;
	width: 100%;
}
.contact-form, .address-space
{
	margin-top: 20px;
}
.form-effect
{

    padding: 12px 12px;
    color: #555;
    background-color: rgba(33, 42, 63, 0.2);
    color: #EEE;
    height: auto !important;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}
.form-effect:focus {
    border-color: rgba(33, 42, 63, 0.2);
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(33, 42, 63, 0.1);
}
.btn-sub {
    color: #fff;
    background-color: #0b057f;
    border-color: #fff;
    font-size: 18px;
    padding: 10px;
}

.btn-default:disabled {
    background-color: #0b057f;
}
.btn-file {
    color: #fff;
    background-color: #0b057f;
    border-color: #fff;
    font-size: 18px;
    padding: 10px ;
}
.btn-file:hover {
    background-color: #aeb3b7;
    border-color: #000;
}
.btn-file:disabled {
    background-color: #e5e5e5;
    border-color: #000;
    color: #5d5b5b;
}
.btn-file input[type=file]{
    color: #fff;
    background-color: #0b057f;
    border-color: #fff;
    font-size: 18px;
    padding: 10px 30px;

    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
#map-canvas
{
	height: 150px;
}
input[placeholder], [placeholder], *[placeholder] {
    color: #EEE !important;
}
input[placeholder]:hover {
    color: #000 !important;
}
.address p i {
    padding-right: 10px;
    font-size: 15px;
    color: #0b057f;
}
.footer {
    margin: 20px 0px 10px;
    float: left;
    text-align: center;
    width: 100%;
}
.footer p {
	text-align:  center;

	font-family: 'Poppins', sans-serif;
}
.footer p a {
 color: #0b057f;
 font-family: 'Poppins', sans-serif;
}


@media (min-width: 380px) and (max-width: 768px)
{
	.text-box p.intro {
    font-size: 22px;
	}
	.text-box h2 {
    font-size: 40px;
}
.text-box h3 {
    font-size: 16px;}
    .text-box p a.link-button {
    padding: 8px 14px;
    font-size: 13px;}
    .title h2 {
   
    font-size: 29px;}
    .desc p {
    font-size: 15px;
    text-align: justify;}
    .icon-text-box h4 {
    text-align: center;
}
.icon-text-box p {
 
    text-align: center;}

    .btneff {
   
    margin-top: 15px;
    width: 20% !important;
}
}
@media (min-width: 0px) and (max-width: 379px)
{
	.text-box p.intro {
    font-size: 22px;
	}
	.text-box h2 {
    font-size: 20px;
}
.text-box h3 {
    font-size: 16px;}
    .text-box p a.link-button {
    padding: 8px 14px;
    font-size: 13px;}
    .title h2 {
   
    font-size: 29px;}
    .desc p {
    font-size: 15px;
    text-align: justify;}
    .icon-text-box h4 {
    text-align: center;
}
.icon-text-box p {
 
    text-align: center;}

    .btneff {
   
    margin-top: 15px;
    width: 80% !important;
}
}

#example-file {
    color: #B0B0B0;
    font-size: 14px;
}


#tableinfo {
/*	margin-top: 20px; */
	border-radius: 5px;
}

#fileToUpload{
	width:100%;
}

#overlay{
	  z-index:100000;
	  position: fixed;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  background: rgba(0, 0, 0, 0.7);
	  transition: opacity 200ms;
	  visibility:hidden;
	  opacity: 0;	
}
#overlay:target{
	visibility: visible;
	opacity: 1;
}

#interact, #filterpop{
	margin: 70px auto;
	padding: 20px;
	background: #fff;
	position: relative;
	transition: all 200ms ease-in-out;
	width: 30%;
}



.optional{
	background-color: #e1f4be;
	border-radius: 5px 5px 0 0;
	color: black;
	padding: 2%;
}

.dropdown{
	padding:2%;
	background-color: #e1f4be;
	border-radius: 0 0 5px 5px ;
}

#interact a:link, #filterpop a:link{
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
}
/*
#filterpop a:active{
	color: black;
    position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
}*/

.vcenter{
	display:inline-block;
	vertical-align: middle;
	float: none;
}

.vtop{
	display:inline-block;
	vertical-align: top;
	float: none;
}

.summary-title-container {
    position:relative;
    text-align:center;
}

.summary-title {
    position: relative;
    display:inline-block;
    background-color: white;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
    text-transform:uppercase;
    font-weight: bold;
}

.summary-title-container:before {
    position:absolute;
    top:50%;
    display:block;
    content:"";
    width:100%;
    height: 1px;
    background-color: grey;
}

.card-container {
    margin-bottom: 20px;
}

.card {
    width: 100%;
    height: 150px;
    /*max-width: 300px;*/
    margin: 0 auto;
    color: black;
    padding: 10px 10px 0px 10px ;
    border-radius: 4px;
}

.card-title {
    letter-spacing: 2px;
    font-weight: 300;
}

.card-title-module {
    letter-spacing: 2px;
}

.card-value {
    text-align: center;
    font-size: 60px;
}

#filterstats {
    width:100%;
    height: 90%;
    color: black;
}

#genes-mods {
    width:100%;
    height: 90%;
    color: black;
}

.legend {
    height: 10px;
    width: 10px;
    display: inline-block;
    opacity: 0.7;
    margin-left: 20px;
    margin-right: 10px;
}

.legname {
    display: inline;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card.module {
    box-shadow: 0px 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.5s ease;
    color: white;
    opacity: 0.7;
}

.card.module:hover {
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}


.modprofile {
    height: 70px;
    width: 100%;
    background-color: white;
    padding: 3px;
    border-radius:4px;
    margin-top: 3px;
    color: black;
}

a.enrich {
    font-weight: bold;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

button.cp {
    background: transparent;
    padding: 0;
    border: none;
}

button.cp:focus {
    outline: 0 !important;
}

.minisect {
    margin-top: 30px;
}

.sect {
    margin-bottom: 50px;
}

.param {
    font-weight: bold;
}

.pwrap {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* ANALYSIS */
#slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
    position: absolute;
    opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
    background-color: #81C784;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#dropbut {
    cursor: pointer;
}

.progress-bar {
 	background-color: #0b057f;
}

.bg-success {
    background-color: #28a745!important;
}

.bg-danger {
    background-color: #d9534f!important;
}

#loading {
	background: rgba(255,255,255,0.8);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

#loading img {
	top: 50%;
	left: 50%;
	margin-top: -220px;
	margin-left: -220px;
	position: absolute;
}

.fundoIframe {
  background:url(../../assets/images/loading_2.gif) center center no-repeat;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
}

.badge-primary {
    background-color: #0b057f;
}
.glyphicon-align-justify:before {
    content: "\e055";
    color: #0b057f;
}


